* {
  box-sizing: border-box;
}

#myInput {
  /* background-image: url('/css/searchicon.png'); */
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 40%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  
}

#myTable {
  border-collapse: collapse;
  width: 90%;
  border: 1px solid #ddd;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

table.blueTable thead {
  background: #7ad420;
}

.chow {
  display: flex;
  justify-content: center;
}